/* Estilo geral da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte da página */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo */
}

header {
    background-color: #004080; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto */
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;
}

header nav ul li {
    display: inline; /* Coloca os itens de navegação em linha */
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none; /* Remove o sublinhado dos links */
}

main {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #003366;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004080;
    color: white;
}
